<div class="row">
  <div class="small-12 columns">
    <h2>Changes</h2>
  </div>
  <%= link_to created_at_orders_path do %>
    <div class="large-4 medium-6 small-12 columns">
      <div class="stats border">
        <div class="left">
          Orders Created Today
          <h3><%= item_finder.orders.created_at_date.count %></h3>
        </div>
        <i class="fi-shopping-bag right"></i>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>
  <%= link_to updated_at_orders_path do %>
    <div class="large-4 medium-6 small-12 columns">
      <div class="stats border">
        <div class="left">
          Orders Updated Today
          <h3><%= item_finder.orders.updated_at_date.count %></h3>
        </div>
        <i class="fi-shopping-bag right"></i>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>
</div>
