<% provide(:title, "Dashboard") %>
<div class="dashboard">
  <%= render 'clients' if policy(:client).dashboard? %>
  <%= render 'production' if policy(:production).dashboard? %>
  <%= render 'products' if policy(:product).dashboard? %>
  <%= render 'admin' %>
</div>
