<section class="about">
  <div class="row">
    <div class="small-12 column heading">
      <h2 class="headline">Managing your Bakery has never been easier!</h2>
      <p class="message">BakeCycle was developed to make managing a bakery easy and hassle free again. No matter what your role, BakeCycle streamlines the daily production run. All your recipes, orders and shipments are combined in one place. A daily recipe printout gets you started and automatically generates delivery slips so you never miss a shipment again.</p>
    </div>
  </div>

  <div class="row features">
    <div class="small-12 medium-4 large-4 columns about-icons">
      <%= image_tag("marketing/home/semantic.svg") %>
      <h3 class="headline">Wholesale Management</h3>
      <p class="message">Complete client information, manage orders, invoices, accept credit cards, client values and margins, Quickbooks and Excel exports.</p>
    </div>

    <div class="small-12 medium-4 large-4 columns about-icons">
      <%= image_tag("marketing/home/semantic.svg") %>
      <h3 class="headline">Bakery Management</h3>
      <p class="message">Manage inclusions and recipes, daily recipe printouts describing what and when products need to be ready, production calendar, overbake settings, and inventory tracking.</p>
    </div>

    <div class="small-12 medium-4 large-4 columns about-icons">
      <%= image_tag("marketing/home/semantic.svg") %>
      <h3 class="headline">Delivery Management</h3>
      <p class="message">Delivery route management, client mapping, automated delivery lists for drivers, and print shipping and packaging labels.</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns footer">
      <p class="message"><span class="rwd-line"><span class="strong">BakeCycle</span> is a colobaration of <a class="underlined-link">Wizard Development</a> and <a class="underlined-link">Bien Cuit</a></span>
      <span>Join our Open Beta of BakeCycle and re-invent how you run your bakery.</span></p>
    </div>
  </div>
</section>
