<section class="cta-section">
  <div class="row">
    <div class="small-12 text-center column">
      <h2 class="headline">
        <span class="rwd-line">Ready to give</span>
        <span class="rwd-line">BakeCycle a try?</span>
      </h2>
      <p class="button-padding"><%= link_to('Start your 30 day Free Trial', plans_path, target: "_blank", class: "cta-btn") %></p>
      <p class="message">
        <span class="rwd-line">
          …or sign up for our <%= link_to('mailing list',"https://www.getdrip.com/forms/1849359/submissions/new", target: "_blank", class: "underlined-link") %>  so we can keep you informed about
        </span>
        <span class="rwd-line">
          the latest developments around BakeCycle.
        </span>
      </p>
  </div>
</section>
