<section class="marketing-header">
  <div class="row full-width">
    <div class="small-12 medium-12 large-3 columns left-section">
      <%= link_to root_path do %>
        <%= image_tag 'marketing/home/bakecycle-logo.svg', alt: 'Wholesale Bakery Management', class: "logo" %>
      <% end %>
    </div>

    <div class="small-12 medium-12 large-9 columns right-section">
      <div class="row">
        <div class="small-12 column">
          <nav class="header-nav">
            <ul>
              <li><a>Home</a></li>
              <li><a>About</a></li>
              <li><a>Testimonials</a></li>
              <li><a>Features</a></li>
              <li><a>Pricing</a></li>
              <li><a>Contact</a></li>
              <li><a class="white-outline-btn" href="#">Open Beta</a></li>
              <li><a>Login</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
