<section class="pricing">
  <div class="row">
    <div class="small-12 column landing-page-heading">
      <h2 class="headline">Pricing</h2>
      <p class="message">BakeCycle grows with your business needs. We offer monthly plans for small, medium and large bakeries with multiple locations including full support and free updates.</p>
    </div>
  </div>
  <div class="row pricing-tables">
    <div class="small-12 medium-offset-2 medium-8 large-offset-0 large-4 columns">
      <ul class="pricing-table">
        <li class="header">Small</li>
        <li class="custom-price">
          <div>
            <p><span class="symbol">&#36;</span><span class="number">99</span><span class="month">/month</span>
            </p>
          </div>
          <hr class="custom-hr">
          <div>
            <p class="quoted-description">"An entry tool for small<br>bakeries with 1-5 employees"</p>
          </div>
          <hr class="custom-hr">
          <div class="price-deal">
            <p><span class="customers"><span>100</span> Customers</span></p>
            <p><span class="standing-orders"><span>50</span> Standing Orders</span></p>
          </div>
        </li>
        <div class="cta">
          <%= link_to('Join our Open Beta',"https://www.getdrip.com/forms/1849359/submissions/new", target: "_blank", class: "cta-btn-round") %>
        </div>
        <li class="feature">Up to <span>5</span> Users</li>
        <li class="feature">Automatic Invoicing</li>
        <li class="feature">Recipe Management</li>
        <li class="feature">Daily Production</li>
      </ul>
    </div>
    <div class="small-12 medium-offset-2 medium-8 large-offset-0 large-4 columns">
      <ul class="pricing-table">
        <li class="header">Medium</li>
        <li class="custom-price">
          <div>
            <p><span class="symbol">&#36;</span><span class="number">249</span><span class="month">/month</span>
            </p>
          </div>
          <hr class="custom-hr">
          <div>
            <p class="quoted-description">"An Integrate platform for medium bakeries with 15-45 employees"</p>
          </div>
          <hr class="custom-hr">
          <div class="price-deal">
            <p><span class="customers"><span>250</span> Customers</span></p>
            <p><span class="standing-orders"><span>120</span> Standing Orders</span></p>
          </div>
        </li>
        <div class="cta">
          <%= link_to('Join our Open Beta',"https://www.getdrip.com/forms/1849359/submissions/new", target: "_blank", class: "cta-btn-round") %>
        </div>
        <li class="feature">Up to <span>7</span> Users</li>
        <li class="feature">Shipping Management</li>
        <li class="feature">Inventory Tracking</li>
        <li class="feature">Basic Costing</li>
        <li class="feature">5 hours of phone support</li>
      </ul>
    </div>
    <div class="small-12 medium-offset-2 medium-8 large-offset-0 large-4 columns end">
      <ul class="pricing-table">
        <li class="header">Large</li>
        <li class="custom-price">
          <div>
            <p><span class="symbol">&#36;</span><span class="number">449</span><span class="month">/month</span>
            </p>
          </div>
          <hr class="custom-hr">
          <div>
            <p class="quoted-description">"An advance solution with complete bakery and wholesale analytics"</p>
          </div>
          <hr class="custom-hr">
          <div class="price-deal">
            <p><span class="customers"><span>Unlimited</span> Customers</span></p>
            <p><span class="standing-orders"><span>Unlimited</span> Standing Orders</span></p>
          </div>
        </li>
        <div class="cta">
          <%= link_to('Join our Open Beta',"https://www.getdrip.com/forms/1849359/submissions/new", target: "_blank", class: "cta-btn-round") %>
        </div>
        <li class="feature">Up to <span>25</span> Users</li>
        <li class="feature">Client Portal</li>
        <li class="feature">Advanced Costing and Analytics</li>
        <li class="feature">Unlimited Phone Support</li>
      </ul>
    </div>
  </div>
  <div class="row pricing-footer">
    <div class="small-12 column">
      <p class="openbeta-message">
        <span class="rwd-line">BakeCycle is now in Open Beta. This means you can now create your own account and test it at a reduced monthly fee. You can give us feedback, suggest new</span> <span>features and receive full support from out team. Don’t think this is for you? <%= link_to('Try the demo',"https://www.getdrip.com/forms/1849359/submissions/new", target: "_blank", class: "underlined-link") %> and let us convince you otherwise.
        </span>
      </p>
      <p class="phone-cta">Questions about pricing or how to be a part of it? Call us at 1-800-BAKECYCLE.</p>
    </div>
  </div>
</section>
