<% provide(:title, "Privacy Policy") %>
<section class="privacy-policy">
  <div class="small-12 medium-8 medium-offset-2">
    <h1>PRIVACY POLICY - Your Privacy Rights</h1>
    <p class="effective-date">
      Effective Date: <span>06/18/2015</span>
    </p>
    <p>
      Your privacy is important to us at BakeCycle, Inc. (hereinafter “BakeCycle,” “we” or “us”). This Privacy Policy describes the types of information we gather, how we use it, with whom the information may be shared, what choices are available to you regarding collection, use and distribution of information and our efforts to protect the information you provide to us through this website (the “Website”), the mobile application (the “App”, and together with the Website, the “Products”) and the services, functionality data, information, tools, updates and similar materials delivered or provided by BakeCycle (the “Services”) By using the Products or Services, you hereby consent to allow us to process information in accordance with this Policy. Please also refer to our <%= link_to "Terms of Service", terms_of_service_path, class: "underlined-link" %>, which are incorporated as if fully recited herein. If our information retention or usage practices change, we will let you know by posting the Privacy Policy changes on the Products or Services. Please refer to the “Effective Date” above to see when this Policy was last updated.
    </p>
    <hr />

    <h2>Territoriality</h2>
    <p>
      Regardless of where our servers are located, your personal data will be processed by us in the United States, where data protection and privacy regulations may not be to the same level of protection as in other parts of the world. BY VISITING OR USING THE PRODUCTS OR SERVICES, YOU UNEQUIVOCALLY CONSENT TO THE COLLECTION AND PROCESSING IN THE UNITED STATES OF ANY INFORMATION COLLECTED OR OBTAINED BY US THROUGH YOUR USE OF THE PRODUCTS OR SERVICES, AND YOU ALSO AGREE THAT U.S. LAW GOVERNS ANY SUCH COLLECTION AND PROCESSING.
    </p>

    <h2>Information Collected</h2>
    <p>
      Personal Information is collected on our Products or Services when you provide it through use of or participation in the Products or Services. Information collected may include:
    </p>
    <ul>
      <li>Name</li>
      <li>E-mail</li>
      <li>Address</li>
      <li>Phone number</li>
      <li>Username</li>
    </ul>
    <p>
      Although the Products and Services may ask for payment card information in connection with subscriptions and charges, we use a third-party payment processing provider to collect, store and charge those numbers, and we do not actually have access to them or collect them.
    </p>

    <p>
      When the Products or Services you request require location-based information, the Products or Services may use GPS or other location-based services to identify your physical location. When requested, the Products or Services may access other information on your computing device in order to facilitate and provide the Products and Services.
    </p>

    <h2>User Content</h2>
    <p>
      The Products and Services may collect content that you upload or make available to the Products or Services for the purpose of processing through and with the Products and Services. Such information includes identifiable information about your clients, their orders and histories, their addresses, financial information, and similar content you process through the Products and Services.
    </p>

    <h2>Use Data</h2>
    <p>
      The Products and Services may record analytical information, such as the IP address or information about the device you are using to access the Products and Services, information about how you use the Products and Services, the pages or features accessed most frequently, communications made through the Products or Services, anonymous information about your clients and their activities, such as orders placed through the Products or Services, how pages or features of the Products or Services are used, search terms entered, and similar analytics about use of the Products and Services.
    </p>
    <p>
      The Products and Services may utilize web beacons, pixel tags, embedded links, and other commonly used information-gathering tools, including identification of referring websites such as session, persistent and third-party cookies and similar technologies. If you disable these techniques, you may not be able to use all of the functionality of the Products and Services.
    </p>

    <h2>Use of Information</h2>
    <p>
      We accept and gather information in an effort to provide you with our Products and Services that you request. We may also use the information we collect to help us develop and improve or our Products and Services, fulfill your requests, inform you about commercial offers or non-commercial causes and other information that may be of interest, tailor our Products and Services to meet your interests and those of our customers, populate data fields in the Products and Services, and perform analytics and studies regarding our Products and Services and its use by our users, among other uses.
    </p>
    <p>
      We may also use your information to provide you with targeted promotional materials about our Products and Services and those that may be of interest to you.
      We may also combine your information with information about you that we obtain from third-party databases and providers. Notwithstanding the foregoing, unless it qualifies as anonymized Use Date, we will not use your User Content other than to provide the Products and Services to you and to fulfil your requests and those of your customers.
    </p>

    <h2>Sharing Information Collected with Third Parties, Consultants, and Affiliates</h2>
    <p>
      We may share the information we collect through the Products and Services with our consultants, service providers, advisors and affiliates in order to provide services to BakeCycle and to better provide the Products and Services to our users.
    </p>
    <p>
      We may share information about you and your company with third-parties for the purpose of targeted and direct marketing.
    </p>
    <p>
      We will only share User Content with others to the extent necessary to provide the Products Services, and such sharing will be on a confidential basis. For example, the information may be shared on a confidential basis with hosting providers, and optimization and design consultants.
    </p>
      Notwithstanding anything to the contrary, we may disclose any collected information to the extent we believe it necessary to comply with the law or to defend a legal claim, such as in response to a subpoena or court order. Additionally, we may transfer your information to successor in interest, which may include but may not be limited to a third-party in the event of an acquisition, sale, merger or bankruptcy.
    </p>

    <h2>Use and Control by Users</h2>
    <p>
      The Products and Services may allow users to share certain information with certain limited number of individuals or with the public at large. Your sharing settings may be controlled through the Products and Services.
    </p>
    <p>
      You may also be able to edit certain information we collect about you through your account login and settings.
    </p>

    <h2>Links</h2>
    <p>
      Our Products and Services may contain links to other websites or may otherwise navigate you outside our Products and Services. We are not responsible for the privacy practices of such other sites, apps or other locations. When you leave our Products or Services, please read the privacy statements of your destination. This Privacy Policy applies solely to information collected by our Products and Services.
    </p>

    <h2>Do Not Track</h2>
    <p>
      At present, our Products and Services to not specifically respond to automated browser do-not-track signals.
    </p>

    <h2>Security</h2>
    <p>
      Protecting your information is a priority for us, and therefore we employ procedural and technical safeguards to secure your personal information against loss, theft, alteration, and unauthorized access, use and disclosure. We also employ security procedures to protect your information from unauthorized access by users inside and outside the company.
    </p>
    <p>
      Regardless of the precautions taken by us we cannot ensure or warrant the security of any information you transmit to us, and you transmit such information at your own risk.
    </p>
    <p>
      No transmission of data over the internet is guaranteed to be completely secure. It may be possible for third parties not under our control to intercept or access transmissions or private communications unlawfully. While we strive to protect your personal information, we cannot ensure or warrant the security of any information you transmit to us.
    </p>

    <h2>Children and Privacy</h2>
    <p>
      We do not knowingly permit users if they are under 13 years old, and therefore do not request personally identifiable information from anyone under the age of 13. If we become aware that a customer is under the age of 13 and has provided us with personal information without prior verifiable parental consent, we will remove his or her personally identifiable registration information and/or the user account from our files. If you are the parent or guardian of a person under the age of 13 who has provided personally identifiable information to us without your approval, please inform us by contacting us at the e-mail address below.
    </p>

    <h2>California Privacy Rights</h2>
    <p>
      California law allows California residents to request information regarding our disclosures in the prior calendar year, if any, of their personally identifiable information to third parties. To make such a request, please contact us at <%= mail_to "support@bakecycle.com", "support@bakecycle.com", html_options = { class:"underlined-link" } %> with "Request for Privacy Information" in the subject line. Please include enough detail for us to locate your file; at a minimum, your name, email, and username, if any. We will attempt to provide you with the requested information within thirty (30) days of receipt. We reserve our right not to respond to requests sent more than once in a calendar year, or requests submitted to an address other than the one posted in this notice. Please note that this law does not cover all information sharing. Our disclosure only includes information covered by the law.
    </p>

    <h2>Contact Information</h2>
    <p>
      If you have any questions, comments, requests or suggestions regarding our Privacy Policy, please contact us via e-mail at <%= mail_to "support@bakecycle.com", "support@bakecycle.com", html_options = { class:"underlined-link" } %>.
    </p>
  </div>
</section>
