<td>
  <%= f.input :product_id, collection: production_run.available_products, input_html: { class: 'new_run_item_product_id', id: "production_run_run_items_attributes_{{getRandomId($index)}}_product_id", name: "production_run[run_items_attributes][{{getRandomId($index)}}][product_id]" } %>
</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>
  <%= f.input :overbake_quantity, input_html: { class: 'new_run_item_overbake_quantity', id: "production_run_run_items_attributes_{{getRandomId($index)}}_overbake_quantity", name: "production_run[run_items_attributes][{{getRandomId($index)}}][overbake_quantity]" } %>
</td>

