<% provide(:title, "Edit Production Run: #{@production_run.id}") %>
<h1>Editing Production Run: #<%= @production_run.id %> - <%= @production_run.date.strftime("%A %b. %e, %Y") %></h1>

<%= render partial: "production_runs/form" %>
