<% provide(:title, "Production Run: #{@production_run.date.strftime("%A %b. %e, %Y")} ##{@production_run.id}") %>
<h1>Production Run: <%= @production_run.date.strftime("%A %b. %e, %Y") %> #<%= @production_run.id %></h1>

<%= render partial: "form" %>
