<% provide(:title, "Edit Production Run: #{@production_run.id}") %>
<h1>Editing Production Run: <%= @production_run.id %> - <%= l @production_run.date %></h1>
<%= link_to 'Back', @production_runs_path, format: :long %>

<%= render "form" %>
