<h1>Recipes</h1>
<p><%= link_to 'Add New Recipe', new_recipe_path, class: "button" %></p>
<table class="responsive-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <th scope="row"><%= link_to recipe.name, edit_recipe_path(recipe) %></th>
        <td data-title="Type"><%= recipe.recipe_type %></td>
        <td data-title="Action">
          <%= link_to edit_recipe_path(recipe) do %>
            <span class="table-action-icon" data-tooltip aria-haspopup="true" data-options="show_on:medium" title="Edit Recipe"><i class="fi-page-edit"></i></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
