<% provide(:title, "Recipes") %>

<h1>Recipes</h1>
<% if policy(Product).new? %>
  <p><%= link_to 'Add New Recipe', new_recipe_path, class: "button" %></p>
<% end %>
<%= render partial: 'recipe_table', locals: {
    recipes: recipes,
    show_created_whodoneit: false,
    show_updated_at_whodoneit: false
  }
%>
