<% provide(:title, "Editing Bakery: #{@bakery.name}") %>

<h1>Editing Bakery: <%= @bakery.name %></h1>

<% if can? :manage, Bakery %>
  <%= link_to "Back", bakeries_path %>
<% end %>

<%= render 'form' %>
