<% provide(:title, "Editing Bakery: #{@bakery.name}") %>

<h1>Editing Bakery: <%= @bakery.name %></h1>

<% if policy(Bakery).index? %>
  <%= link_to "Back", bakeries_path, class: "button small" %>
<% end %>

<%= render 'form' %>
