<% provide(:title, "Editing User: #{@user.name}") %>

<h1>Editing User: <%= @user.name %></h1>

<% if policy(User).index? %>
  <%= link_to 'Back', users_path, class: "button small" %>
<% end %>

<%= render 'form' %>
