// Colors we need to replace
$bc-charcoal: #555;
$bc-off-white: #f2f3f4;
$bc-border-grey: #e1e1e1;
$bc-tuatara: #444;
$bc-grey: #787878;
$bc-lightgrey: #dcdcdc;
$bc-mediumgrey: #b4b4b4;
$bc-darkgrey: #a0a0a0;
$bc-verylightgrey: #f3f3f3;

// New color styles
$bc-background-color: #f5f5f5;
$bc-alizarin-crimson: #eb3232; //Crimson-red
$bc-lima: #7ed321;
$bc-limed-spruce: #323c46; //Navyish
$bc-shakespeare: #55aad7; //LightBlueish
$bc-scorpion: #5a5a5a; //DarkGreyish
$bc-silver-chalice: #a0a0a0; //Greyish
$bc-silver: #c8c8c8; // LightGreyIsh
$bc-mercury: #e6e6e6; // TooGreyForMyTasteGrey
$bc-wild-sand: #f5f5f5; // LigtherYouCanBarelyTellGrey
$bc-white: #fff; // RegularOleWhite
