body, html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $bc-charcoal;
}

p, div {
  font-size: .90rem;
}

div {
  line-height: 1.2rem;
}

table tr th, table tr td {
  padding: 0.5625rem 0.625rem;
  font-size: 0.875rem;
  color: $bc-charcoal;
}

body {
  color: $bc-charcoal;
  background-color: $bc-off-white;
}

a {
  color: $bc-charcoal;
}

.row.full-width {
  width: 100%;
  max-width: 100%;
}

.content-bg {
  background: $bc-off-white;
}

input[type="text"] {
  box-shadow: none;
}

.full-width {
  width: 100%;
}

.welcome-panel {
  @extend .panel;

  margin-top: 25px;

  .panel-heading {
    text-align: center;
  }
}

.alert-box {
  margin-top: 20px;
}

.projection {
  font-size: 1.5rem;
}

#error_explanation {
  color: $bc-alizarin-crimson;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.underlined-link {
  @include underline-link($bc-shakespeare);
}

.alert-box.alert {
  background-color: $bc-alizarin-crimson;
  border: 0;
}

.alert-box.success {
  background-color: $bc-lima;
  border: 0;
}

.hide {
  display: none;
}
