.about {
  text-align: center;
  color: $bc-silver-chalice;

  .features {

    .headline {
      color: $bc-scorpion;
      font-size: 18px;
      font-weight: 400;
      line-height: 40px;
    }

    .message {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
    }

    .about-icons {
      margin: 0 0 33px 0;

      img {
        margin: 0 0 21px 0;
        max-height: 100px;
      }
    }
  }

  .footer {
    color: $bc-silver-chalice;
    margin: 40px 0 0 0;
    @media #{$medium-up} { margin: 71px 0 0 0;};

    .strong {
      font-weight: 700;
      color: $bc-shakespeare;
    }

    .message {
      font-size: 12px;
      font-weight: 300;

      .rwd-line {
        @media #{$medium-up} { display: block; }
      }
    }
  }
}
