.landing-page-heading {
  text-align: center;

  .headline {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin: 33px 0 0 0;
  }

  .message {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    margin: 33px 0 33px 0;
  }
}
