.cta-section {
  padding: 100px 0 100px 0;

  .headline {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;

    .rwd-line {
      display: block;
      @media #{$medium-up} { display: inline; }
    }
  }

  .button-padding {
    margin: 35px 0 35px 0;
  }

  .message {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;

    .rwd-line {
      display: inline;
      @media #{$medium-up} { display: block; }
    }
  }
}
