.hero {
  background-image: image-url('marketing/home/hero_1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 60px;
  min-height: 750px;
  overflow: hidden;
  padding: 170px 0 0;
  position: relative;

  .logo {
    margin: 0 0 0 -3px;
    max-width: 400px;
    padding: 0;
    width: 100%;
  }

  .headline {
    color: $white;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 16px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .50);
  }

  .arrow {
    bottom: 0;
    position: absolute;
    width: 100%;

    &:before,
    &:after {
      border-bottom: 40px solid $bc-white;
      bottom: 100%;
      box-sizing: border-box;
      content: '';
      position: absolute;
      width: 50%;
    }

    &:before {
      border-right: 40px solid transparent;
      right: 50%;
    }

    &:after {
      border-left: 40px solid transparent;
      left: 50%;
    }
  }
}
