<% provide(:title, "Clients") %>

<h1>Clients</h1>

<% if policy(Client).new? %>
  <p><%= link_to 'Add New Client', new_client_path, class: "button" %></p>
<% end %>

<%= react_component('ClientsTable', clients.serializable_hash) %>
