<% if updated.present? %>
  <p>The end date of the following conflicting order has been modified:
  <%= link_to "Order ##{updated.id}", edit_order_path(updated), class: 'underlined-link' %></p>
<% end %>
