<% provide(:title, "New Order") %>

<h1>New Order</h1>

<%= link_to 'Back', orders_path, class: "button small" %>

<div ng-controller="OrderCtrl" ng-init="order=<%= @order.to_json %>">
  <%= render "form"%>
</div>
