fieldset legend {
  background: none;
}

.search-button {
  margin-top: 21px;
  width: 100%;
}

.fields {
  @media #{$small-only} { margin-bottom: 30px;}
}

.view-pdf-button {
  i {
    font-size: 50px;
  }
}

.js-datepicker {
  position: relative;
  z-index: 100;
}

.row .back-button {
  margin-top: 20px;
}

.invoices-checkbox {
  margin: 30px;
}

.help-text-order-type {
  color: $bc-scorpion;
}

.help-text {
  font-weight: 300;
  margin-top: -1.2em;
}

.draggable-placeholder {
  background: $bc-verylightgrey;
  border: solid 1px $bc-mediumgrey;
  height: 32px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.draggable-placeholder:before {
  color: $bc-mediumgrey;
  content: 'Drop here';
  padding: 5px;
}

.inline {
  display: inline-block;
}

select.inline {
  float: right;
  width: 95%;
}

.drag-handle {
  cursor: pointer;
  float: left;
  line-height: 2.5em;
  width: 5%;
}

.disabled {
  input,
  select,
  textarea {
    background-color: $bc-lightgrey;
    border-color: $bc-lightgrey;
    color: $bc-mediumgrey;
  }
}

.bakecycle-form {
  label {
    color: $bc-silver-chalice;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: -3px;
  }

  .warning {
    background: $bc-alizarin-crimson;
  }
  #kickoff-warning {
    font-size:16px;
    display:inline-block;
    margin-left:15px;
    border: 1px $bc-alizarin-crimson solid;
    padding: 15px;
  }

  input:not([type='submit']),
  select,
  textarea {
    border: solid 2px $bc-lightgrey;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    position: relative;
  }

  [type=submit] {
    border: 0;
  }

  input:not([type='submit']),
  select {
    min-height: 40px;
  }

  textarea {
    min-height: 75px;
  }

  .error {
    abbr,
    label {
      color: $bc-alizarin-crimson;
    }

    input:not([type='submit']),
    select,
    textarea {
      border-color: $bc-alizarin-crimson;
    }

    small {
      background-color: $bc-alizarin-crimson;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: $white;
      display: block;
      font-size: 10px;
      line-height: 15px;
      margin-top: -15px;
      padding: 20px 0 5px 10px;
      position: relative;
    }
  }
}

.cc-dropdown {
  background-color: $bc-mercury;
  color: $bc-scorpion;
}

.order-item-product-selection,
.order-item-price-per-qt,
.order-item-price-total,
.order-item-day-input {
  @media #{$large-up} {
    display: inline-block;

    input {
      padding: 8px 1px;
      text-align: center;
    }
  }
}

.order-item-product-selection {
  @media #{$large-up} {
    width: 35%;
  }
}

.order-item-price-per-qt {
  @media #{$large-up} {
    width: 16%;
  }
}

.order-item-price-total {
  @media #{$large-up} {
    width: 12%;
  }
}

.order-item-day-input {
  width: 14.2%;
  display: inline-block;
  @media #{$large-up} {
    width: 4%;
  }
}

.order-item-action-button {
  text-align: center;
  display:block;
  width:100%;
  span {
    padding:10px 0px;
    margin-bottom: 5px;
    width:100%;
  }
  @media #{$large-up} {
    display: inline-block;
    width: 3%;
    margin:0px 5px;
    span {

    }
  }
}

.costing-ingredient-name,
.ingredient-vendor-selection,
.ingredient-cost-input,
.ingredient-weight-units,
.ingredient-current-amount-grams,
.ingredient-current-cost-per-gram,
.ingredient-conversion,
.ingredient-last-updated-at {
  @media #{$large-up} {
    display: inline-block;
    padding-right: 10px;

    input {
      padding: 8px 1px;
      text-align: center;
    }
  }
}

.costing-ingredient-name, 
.ingredient-vendor-selection, 
.ingredient-cost-input, 
.ingredient-weight-units, 
.ingredient-current-amount-grams, 
.ingredient-current-cost-per-gram, 
.ingredient-conversion,
.ingredient-last-updated-at {
  @media #{$large-up} {
    width: 14%;
  }
}

.ingredient-weight-units {
   @media #{$large-up} {
    label {
      margin-bottom: 20px;
    }
  }

}

.ingredient-current-amount-grams {
  label {
    @media #{$large-up} { 
      margin-left: 15px;
    }
    display: inline-block;
    margin-right:15px;
  }
  select {
    display: inline-block;
    width:150px;
  }
}

.costing-ingredient-name {
  display: inline-block;
  margin-bottom: 10px;
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
}

.form-icon-holder {
  border: solid 2px gainsboro;
  padding: 7px;
  background:white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 400;
  line-height: 18px;
  min-height: 40px;
  position: relative;
  &.green {
    color:green;
  }
  &.red {
    color:red;
  }
}

@-webkit-keyframes demo {
    0% {
        background-color: Yellow;
        opacity:1;
    }
    22% {
        background-color: Yellow;
    }
    77% {
        background-color: Green;
    }
    100% {
        background-color: #777;
    }
}
    
.demo {
    -webkit-animation-name: demo;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}    
