fieldset legend {
  background: none;
}

.search-button {
  margin-top: 21px;
  width: 100%;
}

.fields {
  @media #{$small-only} { margin-bottom: 30px;}
}

.view-pdf-button {
  i {
    font-size: 50px;
  }
}

.js-datepicker {
  position: relative;
  z-index: 100;
}

.row .back-button {
  margin-top: 20px;
}

.invoices-checkbox {
  margin: 30px;
}

.help-text-order-type {
  color: $bc-scorpion;
}

.help-text {
  font-weight: 300;
  margin-top: -1.2em;
}

.draggable-placeholder {
  background: $bc-verylightgrey;
  border: solid 1px $bc-mediumgrey;
  height: 32px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.draggable-placeholder:before {
  color: $bc-mediumgrey;
  content: 'Drop here';
  padding: 5px;
}

.inline {
  display: inline-block;
}

select.inline {
  float: right;
  width: 95%;
}

.drag-handle {
  cursor: pointer;
  float: left;
  line-height: 2.5em;
  width: 5%;
}

.disabled {
  input,
  select,
  textarea {
    background-color: $bc-lightgrey;
    border-color: $bc-lightgrey;
    color: $bc-mediumgrey;
  }
}

.bakecycle-form {
  label {
    color: $bc-silver-chalice;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: -3px;
  }

  .warning {
    background: $bc-alizarin-crimson;
  }
  #kickoff-warning {
    font-size:16px;
    display:inline-block;
    margin-left:15px;
    border: 1px $bc-alizarin-crimson solid;
    padding: 15px;
  }

  input:not([type='submit']),
  select,
  textarea {
    border: solid 2px $bc-lightgrey;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    position: relative;
  }

  [type=submit] {
    border: 0;
  }

  input:not([type='submit']),
  select {
    min-height: 40px;
  }

  textarea {
    min-height: 75px;
  }

  .error {
    abbr,
    label {
      color: $bc-alizarin-crimson;
    }

    input:not([type='submit']),
    select,
    textarea {
      border-color: $bc-alizarin-crimson;
    }

    small {
      background-color: $bc-alizarin-crimson;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: $white;
      display: block;
      font-size: 10px;
      line-height: 15px;
      margin-top: -15px;
      padding: 20px 0 5px 10px;
      position: relative;
    }
  }
}

.cc-dropdown {
  background-color: $bc-mercury;
  color: $bc-scorpion;
}

.order-item-product-selection,
.order-item-price-per-qt,
.order-item-price-total,
.order-item-day-input {
  @media #{$large-up} {
    display: inline-block;

    input {
      padding: 8px 1px;
      text-align: center;
    }
  }
}

.order-item-product-selection {
  @media #{$large-up} {
    width: 35%;
  }
}

.order-item-price-per-qt {
  @media #{$large-up} {
    width: 16%;
  }
}

.order-item-price-total {
  @media #{$large-up} {
    width: 12%;
  }
}

.order-item-day-input {
  @media #{$large-up} {
    width: 4%;
  }
}

.order-item-action-button {
  text-align: center;
  @media #{$large-up} {
    display: inline-block;
    width: 4%;
  }
}

.costing-ingredient-name,
.ingredient-vendor-selection,
.ingredient-cost-input,
.ingredient-current-amount-lb,
.ingredient-current-amount-grams,
.ingredient-current-cost-per-gram {
  @media #{$large-up} {
    display: inline-block;
    padding-right: 10px;

    input {
      padding: 8px 1px;
      text-align: center;
    }
  }
}

.costing-ingredient-name, .ingredient-vendor-selection, .ingredient-cost-input, .ingredient-current-amount-lb, .ingredient-current-amount-grams, .ingredient-current-cost-per-gram {
  @media #{$large-up} {
    width: 15%;
  }
}

.form-icon-holder {
  border: solid 2px gainsboro;
  padding: 7px;
  background:white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 400;
  line-height: 18px;
  min-height: 40px;
  position: relative;
  &.green {
    color:green;
  }
  &.red {
    color:red;
  }
}
