fieldset legend {
  background: none;
}

.remove-shipment-item-button, .search-button {
  margin-top: 21px;
}

.fields {
  @media #{$small-only} { margin-bottom: 30px;}
}

.search-button {
  width: 100%;
}
