fieldset legend {
  background: none;
}

.remove-button {
  margin-top: 10px;
}

.remove_shipment_item {
  margin-top: 21px;
}

.fields {
  @media #{$small-only} { margin-bottom: 30px;}
}

.search_button {
  margin-top: 20px;
  width: 100%;
}
