body, html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #555 !important;
}

p, div {
  font-size: .90rem;
}

div {
  line-height: 1.2rem;
}

table tr th, table tr td {
  padding: 0.5625rem 0.625rem;
  font-size: 0.875rem;
  color: #555;
}

body {
  color: #555;
  background-color: #f3f3f3;
}

a {
  color: #555;
}

.row.full-width {
  width: 100%;
  max-width: 100%;
}

.content-bg {
  background: #f3f3f3;
}

input[type="text"] {
  box-shadow: none;
}

.full-width {
  width: 100%;
}

.login-button {
  margin-top: 5%;
}

.welcome-panel {
  @extend .panel;

  margin-top: 25px;

  .panel-heading {
    text-align: center;
  }
}

.alert-box {
  margin-top: 20px;
}
