a:hover,
.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
  color: #18bc9c;
}

.no-padding {
  .columns {
    padding: 0px;
  }
}

.side-nav {
  background: #fff;
  border-right: 1px solid #E6E0E6;
  padding-bottom: 0px;

  @media all and (max-width:1025px) {
    display: none;
  }

  @media all and (min-width:1026px) {
    display: block !important;
  }

  .active {
    color: #18bc9c;
  }

  li {
    list-style: none;

    &.active {

      > a {

        &:first-child:not(.button){
          color: #18bc9c;
          font-weight: 600;
        }
      }
    }

    a {

      &:not(.button) {
        color: #444;
      }
    }
  }

  > li {
    padding: 10px;
    border-bottom: 1px solid #ebeaeb;
    vertical-align: middle;
  }
}
