.top-menu-section {
  min-height: 70px;
  position: relative;
  z-index: 9;

  .top-part-no-padding {
    padding-left: 0px;
    padding-right: 0px;

    .logo-bg {
      background-color: #18bc9c;
      min-height: 70px;
      padding-top: 10px;

      .js-toggles {
        font-size: 1.3rem;
        color: #fff;
        display: none;
        margin-left: 5px;
        position: relative;

        @media all and (max-width:1025px) {
          font-size: 2.2rem;
          color: #fff;
          display: inline !important;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .top-menu {
    background-color: #2d2f3b;
    min-height: 70px;
    padding-top: 10px;

    @media all and (max-width:640px) {
      min-height: 70px;
    }

    .notification {
      span {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 1px 6px 1px 6px;
        font-size: .6rem;
        top: -10px;
        position: relative;
      }

      i {
        color: #fff;
        font-size: 1.8rem;
        top: 10px;
        position: relative;
        text-align: center;
      }
      .mail {
        background: #07a5bb;
        color: #fff;
      }

      .calendar {
        background: #0bba1a;
        color: #fff;
      }
    }
    .power-off {
      font-size: 2rem;
      top: 7px;
      position: relative;
      border-left: 1px solid #746E6E;
      padding-left: 18px;

      @media all and (max-width:640px) {
        padding-left: 0px;
        border: 0px;
      }

      &:hover {
        color: #18bc9c;
      }
    }
  }
}
