fieldset legend {
  background: none;
}

.search-button {
  margin-top: 21px;
}

.fields {
  @media #{$small-only} { margin-bottom: 30px;}
}

.search-button {
  width: 100%;
}

.view-pdf-button {
  i {
    font-size: 50px;
  }
}

.js-datepicker {
  position: relative;
  z-index:100;
}

.row .back-button {
  margin-top: 20px;
}

.invoices-checkbox {
  margin: 30px;
}

.help-text-order-type {
  color: #6f6f6f;
}

.help-text {
  margin-top: -1.2em;
  font-weight: 300;
}

.draggable-placeholder {
  background: $bc-verylightgrey;
  height: 32px;
  border: solid 1px $bc-mediumgrey;
  margin-bottom: 20px;
  margin-left: 20px;
}

.draggable-placeholder:before {
  content: "Drop here";
  color: $bc-mediumgrey;
  padding: 5px;

}

.inline {
  display: inline-block;
}

select.inline {
  float: right;
  width: 95%;
}

.drag-handle {
  cursor: pointer;
  float: left;
  width: 5%;
  line-height: 2.5em;
}

.disabled {
  input, select, textarea {
    background-color: $bc-lightgrey;
    border-color: $bc-lightgrey;
    color: $bc-mediumgrey;
  }
}

.bakecycle-form {
  label {
    color: $bc-silver-chalice;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: -3px;
  }

  input:not([type='submit']),
  select,
  textarea {
    border: solid 2px $bc-lightgrey;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    position: relative;
    z-index: 2;
  }

  [type=submit] {
    border: 0;
  }

  input:not([type='submit']),
  select {
    min-height: 40px;
  }

  textarea {
    min-height: 75px;
  }

  .error {

    abbr,
    label {
      color: $bc-alizarin-crimson;
    }

    input:not([type='submit']),
    select,
    textarea {
      border-color: $bc-alizarin-crimson;
    }

    small {
      background-color: $bc-alizarin-crimson;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: $white;
      display: block;
      font-size: 10px;
      line-height: 15px;
      margin-top: -15px;
      padding: 20px 0 5px 10px;
      position: relative;
      z-index: 1;
    }
  }
}
