.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;

  a, span {
    padding: 0.3em 0.3em;
  }

  .disabled {
    color: #aaaaaa;
  }

  .current {
    background-color: $bc-shakespeare;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    color: white;
  }

  a {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
