// Breakpoints

$bp-small: 30em;
$bp-medium: 48em;
$bp-large: 62em;
$bp-xlarge: 75em;

.js-clickable-row {
  &:hover {
    cursor: pointer;
  }
}

.product-info-tooltip {
  outline: none;
  position: relative;

  strong {
    line-height: 30px;
  }

  &:hover {
    cursor: help;
    text-decoration: none;

    span {
      display: inline;
      position: absolute;
    }
  }

  span {
    background: $bc-charcoal;
    color: $white;
    display: none;
    line-height: 16px;
    margin-left: 20px;
    margin-top: -30px;
    padding: 15px 12px;
    width: 250px;
    z-index: 10;

    &:after {
      border: solid transparent;
      border-color: rgba(51, 51, 51, 0);
      border-right-color: $bc-charcoal;
      border-width: 12px;
      content: '';
      height: 0;
      margin-top: -12px;
      pointer-events: none;
      position: absolute;
      right: 100%;
      top: 42%;
      width: 0;
    }
  }
}

.icon-link-tooltip {
  display: inline;
  position: relative;

  &:hover {

    &:before {
      border: solid;
      border-color: $bc-charcoal transparent;
      border-width: 0 6px 6px;
      content: '';
      left: 4%;
      position: absolute;
      top: 20px;
      z-index: 99;
    }

    &:after {
      background: $bc-charcoal;
      color: $white;
      content: attr(aria-label);
      padding: 12px;
      position: absolute;
      right: -40%;
      top: 26px;
      width: 140px;
      z-index: 98;
    }
  }
}

.table-action-icon {
  margin-left: 10px;

  i {
    font-size: 1.5em;
  }
}

* {
  @include box-sizing(border-box);

  &:before,
  &:after {
    @include box-sizing(border-box);
  }
}

.responsive-table {
  margin-bottom: 1.5em;
  width: 100%;

  @media (min-width: $bp-medium) {
    font-size: .9em;
  }

  @media (min-width: $bp-large) {
    font-size: 1em;
  }

  thead {
    border: 0;
    // Accessibly hide <thead> on narrow viewports
    clip: rect(1px 1px 1px 1px); // IE6, IE7 //
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    @media (min-width: $bp-medium) {
      // Unhide <thead> on wide viewports
      clip: auto;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }

    th {
      background-color: $bc-green;
      border: 1px solid $bc-green;
      color: $white;
      text-align: center;

      &:first-of-type {
        text-align: left;
      }
    }
  }

  // Set these items to display: block for narrow viewports
  tbody,
  tr,
  th,
  td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  tr {
    @media (min-width: $bp-medium) {
      // Undo display: block
      display: table-row;
    }
  }

  th,
  td {
    padding: .5em;
    vertical-align: middle;

    @media (min-width: $bp-small) {
      padding: .75em .5em;
    }

    @media (min-width: $bp-medium) {
      // Undo display: block
      display: table-cell;
      padding: .5em;
    }

    @media (min-width: $bp-large) {
      padding: .75em .5em;
    }

    @media (min-width: $bp-xlarge) {
      padding: .75em;
    }
  }

  tbody {
    @media (min-width: $bp-medium) {
      // Undo display: block
      display: table-row-group;
    }

    tr {
      border: 2px solid $bc-green;
      margin-bottom: 1em;

      @media (min-width: $bp-medium) {
        // Undo display: block
        border-width: 1px;
        display: table-row;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-of-type(even) {
        @media (min-width: $bp-medium) {
          background-color: rgba(94, 93, 82, .1);
        }
      }
    }

    th[scope="row"] {
      background-color: $bc-green;
      color: $white;

      @media (min-width: $bp-medium) {
        background-color: transparent;
        color: $black;
        text-align: left;
      }

      a {
        color: $white;
        text-decoration: underline;

        @media (min-width: $bp-small) {
          color: $white;
          text-decoration: none;
        }
        @media (min-width: $bp-medium) {
          color: $black;
        }
      }
    }

    td {
      text-align: right;

      @media (min-width: $bp-medium) {
        text-align: center;
      }
    }

    td[data-title]:before {
      color: rgba(94, 93, 82, .75);
      content: attr(data-title);
      float: left;
      font-size: .8em;

      @media (min-width: $bp-small) {
        font-size: .9em;
      }

      @media (min-width: $bp-medium) {
        // Don’t show data-title labels
        content: none;
      }
    }
  }
}
