.side-column {

  .columns {
    padding: 0;
  }

  .header {
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $bc-shakespeare;
      cursor: pointer;
    }
  }

  .side-navigation {
    background: $white;
    border: 1px solid $bc-lightgrey;
    display: block;
    height: auto;
    width: 100%;

    @media all and (max-width:1025px) {
      display: none;
    }

    @media all and (min-width:1026px) {
      display: block !important;
    }
  }

  .main,
  .sub {
    list-style: none;
    margin: 0;
  }

  .main {
    color: $bc-darkgrey;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px 30px 75px;

    > li {
      padding: 0 0 25px 50px;
    }

    @media all and (min-width: 1026px) and (max-width: 1291px) {
      padding: 15px 10px 75px;

      > li {
        padding: 0 0 25px 30px;
      }
    }
  }

  .sub {
    display: none;
    font-size: 12px;
    padding: 25px 0 0;
  }

  .icon {
    display: inline-block;
    height: 25px;
    margin: 0 20px 0 -50px;
    width: 25px;

    @media all and (min-width: 1026px) and (max-width: 1291px) {
      margin: 0 0 0 -30px;
    }
  }

  a {
    color: $bc-mediumgrey;
    font-weight: 300;
    line-height: 37px;
    text-transform: none;

    &:hover,
    &:focus {
      color: $bc-shakespeare;
    }

    .header {
      font-weight: 600;
    }
  }

  .active,
  .active > a {
    color: $bc-shakespeare;
    font-weight: 600;
  }

  .show-nav {
    .sub {
      display: block;
    }
  }
}
